

.sidenavcontent{

  //width: 250px;

  background-color: #F5F5F5;
  border: 0px;
  border-right: #0000001f solid 1px;
  height: 100%;
  }


  .sidenavcontainer {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

